<template>
    <modal-component @close="close" ref="modal">
        <form @submit.prevent="apply">
            <h4 class="mb-3">Ссылка</h4>
            <div class="input mb-3">
                <input required v-model="d_href" v-input>
                <label>URL</label>
            </div>
            <button class="btn btn_primary" type="submit">Применить</button>
        </form>
    </modal-component>
</template>

<script>
    import ModalComponent from "@/js/common/components/ModalComponent";
    import {updateMark, removeMark} from 'tiptap-commands'

    export default {
        name: "LinkModal",
        components: {ModalComponent},
        props: ['editor'],
        data() {
            let href = null;
            try {
                href = this.editor.getMarkAttrs('link').href;
            } catch (e) {
            }
            return {
                d_href: href,
            }
        },
        methods: {
            apply() {
                const attrs = {
                    href: this.d_href,
                };
                if (!this.d_href.includes(document.location.host))
                    attrs.rel = 'noopener noreferrer nofollow';
                this.editor.commands.link(attrs);
                this.$refs.modal.close();
            },
            remove() {
                this.editor.commands.link({});
                this.$refs.modal.close();
            },
            close() {
                this.$destroy();
                if (this.$el.parentNode)
                    this.$el.parentNode.removeChild(this.$el)
            }
        }
    }
</script>

<style scoped>

</style>
