<template>
    <div>
        <h1>page 1</h1>
        <div class="input input_form">
            <label>Любой текст</label>
            <input type="text" v-model="d_text">
        </div>
        <div>
            <div v-if="!d_text || d_text.length === 0">
                В поле выше пусто.
            </div>
            <div v-else>
                В поле выше введен следующий текст: <b>{{ d_text }}</b>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Page1",
        data() {
            return {
                d_text: null,
            }
        }
    }
</script>

<style scoped>

</style>
