<template>
    <div id="map"></div>
</template>

<script>
    export default {
        name: "GeocoderMap",
        props: {
            value: {
                default: null,
            },
            attach: {
                default: false
            },
            placeholder: {
                default: 'Введите адрес',
            }
        },
        data() {
            return {
                d_map: null,
                d_placeMark: null,
                d_zonesGeoQuery: null
            }
        },
        mounted() {
            ymaps.ready(this.initMap);
        },
        methods: {
            formatAddress(value) {
                let res = value.getLocalities().join(', ');
                if (value.getThoroughfare()) {
                    res += ', ' + value.getThoroughfare();
                }
                if (value.getPremiseNumber()) {
                    res += ', д. ' + value.getPremiseNumber();
                }
                return res;
            },
            initMap() {
                this.d_map = new ymaps.Map("map", {
                    center: [61.264070, 73.393212],
                    zoom: 12,
                    controls: ['geolocationControl', 'searchControl']
                });
                this.d_map.cursors.push('pointer');
                let searchControl = this.d_map.controls.get('searchControl');
                searchControl.options.set({noPlacemark: true, placeholderContent: this.placeholder});
                searchControl.events.add('resultshow', function (e) {
                    let coords = searchControl.getResultsArray()[e.get('index')].geometry.getCoordinates();
                    let address = this.formatAddress(searchControl.getResultsArray()[e.get('index')]);
                    this.showPlaceMark(coords, address);
                }, this);
                this.d_map.events.add('click', this.handleMapClick, this);
            },
            handleMapClick(e) {
                let coords = e.get('coords');
                this.showPlaceMark(coords);
                ymaps.geocode(coords).then(res => {
                    let firstGeoObject = res.geoObjects.get(0);
                    if (res.geoObjects.get(0).getPremiseNumber())
                        if (this.attach) coords = res.geoObjects.get(0).geometry.getCoordinates();
                    this.showPlaceMark(coords, this.formatAddress(firstGeoObject));
                });
            },
            createPlacemark(coords) {
                let $vm = this;
                let BalloonContentLayout = ymaps.templateLayoutFactory.createClass(
                    `
                    <form class="balloon">
                        <div>{{properties.address}}</div>
                        <button type="submit" class="btn btn_link">Подтвердить</button>
                    </form>
                    `,
                    {
                        build: function () {
                            BalloonContentLayout.superclass.build.call(this);
                            this.getElement().querySelector('form').onsubmit = this.agree.bind(this);
                        },
                        agree(event) {
                            event.preventDefault();
                            event.stopPropagation();
                            let location = this.getData().properties.getAll();
                            location.coordinates = this.getData().geometry.getCoordinates();
                            $vm.$emit('input', location);
                            this.getData().geoObject.balloon.close()
                        },
                    });

                return new ymaps.Placemark(coords, {}, {
                    preset: 'islands#violetDotIconWithCaption',
                    draggable: false,
                    balloonContentLayout: BalloonContentLayout,
                });
            },
            showPlaceMark(coords, address) {
                if (this.d_placeMark) {
                    this.d_placeMark.geometry.setCoordinates(coords);
                } else {
                    this.d_placeMark = this.createPlacemark(coords);
                    this.d_map.geoObjects.add(this.d_placeMark);
                }

                // let selectedZone = this.d_zonesGeoQuery.searchContaining(coords).get(0);
                // let price = undefined;
                // if (selectedZone) {
                //     price = parseInt(selectedZone.properties.get('price'));
                // }

                this.d_placeMark.properties.set({
                    address: address,
                    // price: price,
                });

                this.d_placeMark.balloon.open();
            },
        }
    }
</script>

<style scoped lang="scss">
    #map {
        height: 400px;
        width: 100%;
    }

    ::v-deep .balloon {
        .h5 {
            font-size: 18px;
        }

        input {
            padding: 3px 7px;
        }
    }
</style>
