<template>
    <div id="map"></div>
</template>

<script>
    export default {
        name: "MapComponent",
        props: ['points'],
        data() {
            return {
                d_map: null,
                d_placeMark: null,
                d_clusterer: null,
                d_collection: null,
            }
        },
        mounted() {
            ymaps.ready(this.initMap);
        },
        methods: {
            initMap() {
                let center = this.points ? this.points[0].coordinates : null;

                this.d_map = new ymaps.Map("map", {
                    center: center,
                    zoom: 12,
                    controls: []
                }, {
                    yandexMapDisablePoiInteractivity: true,
                });
                this.d_map.margin.setDefaultMargin(150);

                this.d_collection = new ymaps.GeoObjectCollection();
                this.d_clusterer = new ymaps.Clusterer({
                    clusterDisableClickZoom: true,
                    groupByCoordinates: false,
                    hasBalloon: false,
                });
                this.d_map.geoObjects.add(this.d_clusterer);

                this.placePoints();
            },
            createPlaceMark(placeMark) {
                let $vm = this;
                let BalloonContentLayout = ymaps.templateLayoutFactory.createClass(
                    `
                    <div class="balloon">
                        <p>` + placeMark.balloonText + `</p>
                    </div>
                    `
                );

                return new ymaps.Placemark(placeMark.coordinates, {}, {
                    preset: 'islands#violetDotIconWithCaption',
                    draggable: false,
                    balloonContentLayout: BalloonContentLayout,
                });
            },
            placePoints() {
                if (!this.d_map) return;
                this.d_clusterer.removeAll();

                const geoObjects = [];
                for (let point of this.points) {
                    if (!point.coordinates) continue;

                    const placemark = this.createPlaceMark(point);
                    geoObjects.push(placemark);
                }

                if (geoObjects.length) {
                    this.d_clusterer.add(geoObjects);
                    this.d_map.setBounds(this.d_clusterer.getBounds());
                    this.d_map.container.fitToViewport();
                    if (this.d_map.getZoom() > 17) {
                        this.d_map.setZoom(17);
                    }
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    #map {
        height: 400px;
        width: 100%;
    }

    ::v-deep .balloon {
        .h5 {
            font-size: 18px;
        }

        input {
            padding: 3px 7px;
        }
    }
</style>
