<template>
    <aside class="sidebar">
        <ul class="sidebar__list">
            <li class="sidebar__item">
                <router-link :to="{name: 'page-1'}">Страница 1</router-link>
            </li>
            <li class="sidebar__item">
                <router-link :to="{name: 'page-2'}">Страница 2</router-link>
            </li>
        </ul>
    </aside>
</template>

<script>
    export default {
        name: "Sidebar"
    }
</script>

<style scoped>

</style>
